# Aliases
alias cd..="cd .."
alias ..='cd ..'
alias rm="trash -v"
alias mkdir="mkdir -pv"
alias mv="mv -iv"
alias cp="cp -iv"
alias ls="ls -FG"
alias la="ls -aFG"
alias ll="ls -alFGh"
alias PATH="echo $PATH | tr : '\n'"

# Resume wget by default in case of interruption
alias wget='wget -c'

# Disks
alias df='df -H'
alias du='du -ch'
# Awake for 1 hr.
alias caffeinate='caffeinate -idmst 3600 &'

# Git
alias gl='git log -n 1'
alias ga='git add -A'
alias gc='git commit'
alias gs='git status --short'
alias gp='git pull upstream main'

# Rails
alias be="bundle exec"
alias bd=bin/dev
alias fore="foreman start -f Procfile.dev"
alias rr="rails routes"
alias assets="rails assets:precompile"

# PIDs
alias rbpid="ps aux | grep ruby | grep -v grep"
alias railspid="ps aux | grep rails | grep -v grep"

# Homebrew
alias brewupdate='brew -v update && brew outdated'
alias brewupgrade='brew -v upgrade --display-times && brew cleanup'

# Personal
alias src="cd ~/src/"
alias reload="source ~/.zshrc"
alias zshcfg="subl ~/.zshrc"
alias code=codium

# BlogOps
alias blog="cd ~/src/nchristiny.github.io/"
alias serveblog="be jekyll serve --config _config.yml"
