# Aliases
alias cd..="cd .."
alias ..='cd ..'
alias mkdir="mkdir -pv"
alias mv="mv -iv"
alias cp="cp -iv"
alias ls="ls -FG"
alias la="ls -aFG"
alias ll="ls -alFGh"
alias PATH="echo $PATH | tr : '\n'"

# Resume wget by default in case of interruption
alias wget='wget -c'

# Disks
alias df='df -H'
alias du='du -ch'
# Awake for 1 hr.
alias cafe='caffeinate -idmst 3600 &'

# Git
alias gl='git log -n 1'
alias ga='git add -A'
alias gc='git commit'
alias gs='git status --short'

# Rails
alias be="bundle exec"
alias bd=bin/dev
alias fore="foreman start -f Procfile.dev"
alias rr="rails routes"
alias assets="rails assets:precompile"
alias dbreset="bundle exec rails db:create db:migrate db:seed"

# Homebrew
alias brewupdate='brew -v update && brew outdated'
alias brewupgrade='brew -v upgrade --display-times && brew cleanup'

# Personal
alias src="cd ~/src/"
alias reload="source ~/.zshrc"
alias zshcfg="subl ~/.zshrc"

# BlogOps
alias blog="cd ~/src/nchristiny.github.io/"
alias serveblog="be jekyll serve --config _config.yml"
